@use "./../custom" as *;
@use "./../components/mixins" as *;

.menu {
	@include gradient();
	.navbar-nav {
		padding: 0 0.7rem;
		.nav-link {
			color: $white;
			text-transform: capitalize;
			font-weight: 600;
		}
	}
}
