@use "./../custom" as *;
@use "./../components/mixins" as *;


.btn-rounded {
	position: relative;
	padding: 0.6rem 1.2rem;
	font-weight: 500;
	margin: 0;
	span {
		position: absolute;
		background-color: $primary;
		width: 2.5rem;
		height: 2.5rem;
                    @include gradient();
	}
}
